.zoomable {
  width: 200px;
  position: relative;
}

.zoomable > img {
  width: 100%;
}

.focus-box {
  border: 1px solid white;
  position: absolute;
  background: transparent;

  width: 50px;
  height: 50px;
}

.zoomed-image {
  top: 0;
  bottom: 0;
  right: 0;
 /* left: 500px;*/
  background-repeat: no-repeat;
  border: 5px solid black;
  float: right;
  margin-top: -200px;
 /* height: 1000px;*/
  /*background-image: url("download (11).jpeg");
  background-size: 50%;
  background-position: 25% 25%;
  display: block;*/
}